.body {
    width: 100vw;
    height: 100vh;
    /* background-color: aliceblue; */
    justify-content: center;
    padding: 25px;
    padding-bottom: 0px;
    display: grid;
}

.body__display {
    display: flex;
    justify-content: space-between;
    max-width: 80vw;
    overflow-y: hidden;
    padding: 0px;
}

.MuiTypography-root {
    outline-width: 0; /*blue line*/
}

.MuiPaper-root {
    margin: 5px;
    outline-width: 0; /*blue line*/
}

.data_field {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}